<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  <div class="wrapper">
    <div class="preloader">
      <div class="preloader__load">
        <hr/><hr/><hr/><hr/>
      </div>
    </div>
    <div class="menu-icon">
      <span id="bar-1" class="line"></span>
      <span id="bar-2" class="line"></span>
      <span id="bar-3" class="line"></span>
    </div>
    <header class="header">
      <div class="header__logo">
        <a href="#" class="header__logo-link">TSGroup</a>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="#vacancy">Вакансии</a></li>
          <li><a href="#about">О компании</a></li>
          <li><a href="#cooperation">Сотрудничество</a></li>
          <li><a href="#demands">требования</a></li>
          <li><a href="#reviews">отзывы</a></li>
          <li><a href="#contacts">контакты</a></li>
        </ul>
      </nav>
      <div class="header__tel-box">
        <div class="header__tel-text">Горячая линия:</div>
        <a href="tel:+380504568221" class="header__tel">+38 (050) 456 82 21</a>
      </div>
      <div class="callback btn"><span>Обратный звонок</span></div>
      <a href="mailto:info@tsgroup.com" class="header__mail">info@tsgroup.com</a>
      <ul class="language">
        <li class="language__item active"><a href="#" class="language__link">RUs</a></li>
        <li class="language__item"><a href="#" class="language__link">UKR</a></li>
        <li class="language__item"><a href="#" class="language__link">Eng</a></li>
      </ul>
      <div class="header__mobile">
        <div class="header__mobile-overlay"></div>
        <div class="header__mobile-box"></div>
      </div>
    </header>
    <div class="error-page">
      <div class="container">
        <div class="error-page__box">
          <div class="error-page__text">
            <div class="error-page__caption">404</div>
            <div class="error-page__descriptions">Ошибка! Страница, которую вы ищете, была перемещена, удалена, переименована или никогда не существовала.</div>
            <div class="error-page__btn">
              <a href="#" class="btn btn--bg"><span>на главную</span></a>
            </div>
          </div>
          <div class="error-page__img">
            <img src="data/error.jpg" width="603" height="495" alt=".">
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="footer__box">
        <a href="#" class="dev">
          <div class="dev__text">Разработка сайта</div>
          <div class="dev__icons">
            <div class="dev__icon">
              <div class="svg"><svg width="72" height="11"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#lemon"></use></svg></div>
            </div>
            <div class="dev__hover">
              <div class="svg"><svg width="72" height="11"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#lemon"></use></svg></div>
            </div>
          </div>
        </a>
        <ul class="social">
          <li class="social__item"><a href="#" class="social__link" target="_blank" rel="nofollow">instagram</a></li>
          <li class="social__item"><a href="#" class="social__link" target="_blank" rel="nofollow">facebook</a></li>
          <li class="social__item"><a href="#" class="social__link" target="_blank" rel="nofollow">twitter</a></li>
        </ul>
        <div class="top">
          <div class="svg"><svg width="14" height="8"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#top"></use></svg></div>
        </div>
      </div>
    </div>
  </footer>
  {% include 'js.html' %}
  <div class="popup popup-callback">
    <div class="overlay"></div>
    <div class="popup__box">
      <div class="popup__close">
        <div class="svg"><svg width="10" height="10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#close"></use></svg></div>
      </div>
      <div class="popup__title">Обратный звонок</div>
      <form action="." class="popup__form">
        <div class="popup__form-row">
          <div class="popup__form-label">Имя:</div>
          <input type="text">
          <p class="error">error</p>
        </div>
        <div class="popup__form-row">
          <div class="popup__form-label">Телефон:</div>
          <input type="tel">
        </div>
        <div class="popup__form-btn">
          <button type="submit" class="btn"><span>Отправить</span></button>
        </div>
      </form>
    </div>
  </div>
  <div class="popup popup-feedback">
    <div class="overlay"></div>
    <div class="popup__box">
      <div class="popup__close">
        <div class="svg"><svg width="10" height="10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#close"></use></svg></div>
      </div>
      <div class="popup__title">Обратная связь</div>
      <form action="." class="popup__form">
        <div class="popup__form-row">
          <div class="popup__form-label">Имя:</div>
          <input type="text">
          <p class="error">error</p>
        </div>
        <div class="popup__form-row">
          <div class="popup__form-label">Телефон:</div>
          <input type="tel">
        </div>
        <div class="popup__form-row">
          <div class="popup__form-label">Email:</div>
          <input type="email">
        </div>
        <div class="popup__form-row">
          <div class="popup__form-label">Комментарий:</div>
          <textarea name="name"></textarea>
        </div>
        <div class="popup__form-btn">
          <button type="submit" class="btn"><span>Отправить</span></button>
        </div>
      </form>
    </div>
  </div>
  <div class="popup popup-thankYou">
    <div class="overlay"></div>
    <div class="popup__box">
      <div class="popup__close">
        <div class="svg"><svg width="10" height="10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#close"></use></svg></div>
      </div>
      <div class="popup__title">Спасибо за заявку!</div>
      <div class="popup__description">Наш менеджер свяжется с Вами в течение 15 минут</div>
    </div>
  </div>
</body>

</html>
