<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__logo">
        <a href="#" class="header__logo-link">TSGroup</a>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="#vacancy">Вакансии</a></li>
          <li><a href="#about">О компании</a></li>
          <li><a href="#cooperation">Сотрудничество</a></li>
          <li><a href="#demands">требования</a></li>
          <li><a href="#reviews">отзывы</a></li>
          <li><a href="#contacts">контакты</a></li>
        </ul>
      </nav>
      <div class="header__tel-box">
        <div class="header__tel-text">Горячая линия:</div>
        <a href="tel:+380504568221" class="header__tel">+38 (050) 456 82 21</a>
      </div>
      <div class="callback btn"><span>Обратный звонок</span></div>
      <a href="mailto:info@tsgroup.com" class="header__mail">info@tsgroup.com</a>
      <ul class="language">
        <li class="language__item active"><a href="#" class="language__link">RUs</a></li>
        <li class="language__item"><a href="#" class="language__link">UKR</a></li>
        <li class="language__item"><a href="#" class="language__link">Eng</a></li>
      </ul>
      <div class="header__mobile">
        <div class="header__mobile-overlay"></div>
        <div class="header__mobile-box"></div>
      </div>
    </header>
    <div class="preloader">
      <div class="preloader__load">
        <hr/><hr/><hr/><hr/>
      </div>
    </div>
    <div class="menu-icon">
      <span id="bar-1" class="line"></span>
      <span id="bar-2" class="line"></span>
      <span id="bar-3" class="line"></span>
    </div>
    <div class="top-section">
      <div class="top-section__box" style="background-image: url(data/top-section.jpg);">
        <div class="top-section__holder">
          <div class="top-section__caption">Зарабатывай в такси 20 000 грн в мес.</div>
          <div class="top-section__btns">
            <a href="#vacancy" class="scroll-btn btn btn--bg"><span>хочу зарабатывать!</span></a>
            <a href="#cooperation" class="scroll-btn btn btn--white"><span>Условия</span></a>
          </div>
        </div>
        <a href="#vacancy" class="down scroll-btn">
          <div class="svg"><svg width="16" height="8"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#down"></use></svg></div>
        </a>
      </div>
    </div>
    <div class="vacancy viewport" id="vacancy">
      <div class="container">
        <div class="vacancy__box">
          <div class="title">Вакансии</div>
          <div class="vacancy__list">
            <div class="vacancy__item">
              <div class="vacancy__item-title">Диспетчер</div>
              <div class="vacancy__item-text text-content scroll">
                <strong>Описание:</strong>
                <p>Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений</p>
                <strong>Обязанности:</strong>
                <p>Идейные соображения высшего порядка, а также постоянное информационно пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
                <p>Идейные соображения высшего порядка, а также постоянное информационно пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
                <p>Идейные соображения высшего порядка, а также постоянное информационно пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
              </div>
              <div class="btn vacancy__btn"><span>откликнуться</span></div>
            </div>
            <div class="vacancy__item">
              <div class="vacancy__item-title">Водитель</div>
              <div class="vacancy__item-text text-content scroll">
                <strong>Описание:</strong>
                <p>Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений</p>
                <strong>Обязанности:</strong>
                <p>Идейные соображения высшего порядка, а также постоянное информационно пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
              </div>
              <div class="btn vacancy__btn"><span>откликнуться</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about viewport" id="about">
      <div class="container">
        <div class="about__box">
          <div class="about__img">
            <img src="data/about.jpg" width="603" height="570" title="." alt=".">
          </div>
          <div class="about__info">
            <div class="title">О компании</div>
            <div class="about__triggers">
              <div class="about__trigger">
                <div class="about__trigger-img">
                  <img src="data/011.png" width="40" height="40" alt="">
                </div>
                <div class="about__trigger-info">
                  <div class="about__trigger-title">Навигаторы</div>
                  <div class="about__trigger-text">
                    <p>Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности требуют определения и уточнения</p>
                  </div>
                </div>
              </div>
              <div class="about__trigger">
                <div class="about__trigger-img">
                  <img src="data/022.png" width="40" height="40" alt="">
                </div>
                <div class="about__trigger-info">
                  <div class="about__trigger-title">Навигаторы</div>
                  <div class="about__trigger-text">
                    <p>Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности требуют определения и уточнения</p>
                  </div>
                </div>
              </div>
              <div class="about__trigger">
                <div class="about__trigger-img">
                  <img src="data/033.png" width="40" height="40" alt="">
                </div>
                <div class="about__trigger-info">
                  <div class="about__trigger-title">Навигаторы</div>
                  <div class="about__trigger-text">
                    <p>Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности требуют определения и уточнения</p>
                  </div>
                </div>
              </div>
              <div class="about__trigger">
                <div class="about__trigger-img">
                  <img src="data/044.png" width="40" height="40" alt="">
                </div>
                <div class="about__trigger-info">
                  <div class="about__trigger-title">Навигаторы</div>
                  <div class="about__trigger-text">
                    <p>Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности требуют определения и уточнения</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cooperation viewport" id="cooperation">
      <div class="container-inner">
        <div class="title">Условия сотрудничества</div>
        <div class="cooperation__list-box">
          <div class="cooperation__list">
            <div class="cooperation__item">
              <div class="cooperation__item-inner">
                <div class="cooperation__value timer" data-from="0" data-to="15">15</div>
                <div class="cooperation__text">Гривен за 1 км</div>
              </div>
            </div>
            <div class="cooperation__item">
              <div class="cooperation__item-inner">
                <div class="cooperation__value timer" data-from="0" data-to="50">50</div>
                <div class="cooperation__text">Человек в базе клиентов</div>
              </div>
            </div>
            <div class="cooperation__item">
              <div class="cooperation__item-inner">
                <div class="cooperation__value timer" data-from="0" data-to="50">50</div>
                <div class="cooperation__text">заказов в день</div>
              </div>
            </div>
            <div class="cooperation__item">
              <div class="cooperation__item-inner">
                <div class="cooperation__value timer" data-from="0" data-to="15">15</div>
                <div class="cooperation__text">Гривен за 1 км</div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn"><span>хочу зарабатывать!</span></div>
      </div>
    </div>
    <div class="about about--cooperation viewport" id="demands">
      <div class="container">
        <div class="about__box">
          <div class="about__img">
            <img src="data/cooperation.jpg" width="603" height="570" title="." alt=".">
          </div>
          <div class="about__info">
            <div class="title">Требования</div>
            <div class="about__triggers">
              <div class="about__trigger">
                <div class="about__trigger-img">
                  <img src="data/01.png" width="40" height="40" alt="">
                </div>
                <div class="about__trigger-info">
                  <div class="about__trigger-title">Машина не старше 2012</div>
                </div>
              </div>
              <div class="about__trigger">
                <div class="about__trigger-img">
                  <img src="data/02.png" width="40" height="40" alt="">
                </div>
                <div class="about__trigger-info">
                  <div class="about__trigger-title">Технический осмотр</div>
                </div>
              </div>
              <div class="about__trigger">
                <div class="about__trigger-img">
                  <img src="data/03.png" width="40" height="40" alt="">
                </div>
                <div class="about__trigger-info">
                  <div class="about__trigger-title">Наличие исправных ремней безопасности</div>
                </div>
              </div>
              <div class="about__trigger">
                <div class="about__trigger-img">
                  <img src="data/04.png" width="40" height="40" alt="">
                </div>
                <div class="about__trigger-info">
                  <div class="about__trigger-title">автомобиль с чистым салоном и хорошим внешним состоянием</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews viewport" id="reviews">
      <div class="container-inner">
        <div class="title">Отзывы</div>
        <div class="reviews__slider">
          <div class="reviews__item">
            <div class="reviews__item-title">Валерий</div>
            <div class="reviews__item-position">Водитель</div>
            <div class="reviews__text text-content scroll">
              <p>Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений. Идейные соображения высшего порядка, а также постоянное информационно пропагандистское обеспечение
                нашей деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших
                направлений. Идейные соображения высшего порядка, а также постоянное информационно пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
            </div>
          </div>
          <div class="reviews__item">
            <div class="reviews__item-title">Светлана</div>
            <div class="reviews__item-position">Дистпетчер</div>
            <div class="reviews__text text-content scroll">
              <p>Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений. Идейные соображения высшего порядка, а также постоянное информационно пропагандистское обеспечение
                нашей деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших
                направлений. Идейные соображения высшего порядка, а также постоянное информационно пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
            </div>
          </div>
          <div class="reviews__item">
            <div class="reviews__item-title">Валерий</div>
            <div class="reviews__item-position">Водитель</div>
            <div class="reviews__text text-content scroll">
              <p>Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений. Идейные соображения высшего порядка, а также постоянное информационно пропагандистское обеспечение
                нашей деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших
                направлений. Идейные соображения высшего порядка, а также постоянное информационно пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contacts" id="contacts">
      <div class="container">
        <div class="contacts__box">
          <div class="contacts__left">
            <div class="title">Контакты</div>
            <div class="about__trigger">
              <div class="about__trigger-img">
                <img src="data/pin.svg" width="37" height="38" alt="">
              </div>
              <div class="about__trigger-info">
                <div class="about__trigger-title"><address>г. киев, пр. науки, 62</address></div>
              </div>
            </div>
            <div class="about__trigger">
              <div class="about__trigger-img">
                <img src="data/tel2.svg" width="28" height="28" alt="">
              </div>
              <div class="about__trigger-info">
                <div class="about__trigger-title">
                  <a href="tel:+380504568221">+38 (050) 456 82 21</a>
                  <a href="tel:+380984568222">+38 (098) 456 82 22</a>
                </div>
              </div>
            </div>
            <div class="about__trigger">
              <div class="about__trigger-img">
                <img src="data/massege.svg" width="30" height="18" alt="">
              </div>
              <div class="about__trigger-info">
                <div class="about__trigger-title"><a href="mailto:info@tsgroup.com">info@tsgroup.com</a></div>
              </div>
            </div>
            <div class="btn feedback"><span>обратная связь</span></div>
          </div>
          <div class="map" id="map"></div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="footer__box">
        <a href="#" class="dev">
          <div class="dev__text">Разработка сайта</div>
          <div class="dev__icons">
            <div class="dev__icon">
              <div class="svg"><svg width="72" height="11"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#lemon"></use></svg></div>
            </div>
            <div class="dev__hover">
              <div class="svg"><svg width="72" height="11"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#lemon"></use></svg></div>
            </div>
          </div>
        </a>
        <ul class="social">
          <li class="social__item"><a href="#" class="social__link" target="_blank" rel="nofollow">instagram</a></li>
          <li class="social__item"><a href="#" class="social__link" target="_blank" rel="nofollow">facebook</a></li>
          <li class="social__item"><a href="#" class="social__link" target="_blank" rel="nofollow">twitter</a></li>
        </ul>
        <div class="top">
          <div class="svg"><svg width="14" height="8"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#down"></use></svg></div>
        </div>
      </div>
    </div>
  </footer>
  <div class="popup popup-callback">
    <div class="overlay"></div>
    <div class="popup__box">
      <div class="popup__close">
        <div class="svg"><svg width="10" height="10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#close"></use></svg></div>
      </div>
      <div class="popup__title">Обратный звонок</div>
      <form action="." class="popup__form">
        <div class="popup__form-row">
          <div class="popup__form-label">Имя:</div>
          <input type="text">
          <p class="error">error</p>
        </div>
        <div class="popup__form-row">
          <div class="popup__form-label">Телефон:</div>
          <input type="tel">
        </div>
        <div class="popup__form-btn">
          <button type="submit" class="btn"><span>Отправить</span></button>
        </div>
      </form>
    </div>
  </div>
  <div class="popup popup-feedback">
    <div class="overlay"></div>
    <div class="popup__box">
      <div class="popup__close">
        <div class="svg"><svg width="10" height="10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#close"></use></svg></div>
      </div>
      <div class="popup__title">Обратная связь</div>
      <form action="." class="popup__form">
        <div class="popup__form-row">
          <div class="popup__form-label">Имя:</div>
          <input type="text">
          <p class="error">error</p>
        </div>
        <div class="popup__form-row">
          <div class="popup__form-label">Телефон:</div>
          <input type="tel">
        </div>
        <div class="popup__form-row">
          <div class="popup__form-label">Email:</div>
          <input type="email">
        </div>
        <div class="popup__form-row">
          <div class="popup__form-label">Комментарий:</div>
          <textarea name="name"></textarea>
        </div>
        <div class="popup__form-btn">
          <button type="submit" class="btn"><span>Отправить</span></button>
        </div>
      </form>
    </div>
  </div>
  <div class="popup popup-thankYou">
    <div class="overlay"></div>
    <div class="popup__box">
      <div class="popup__close">
        <div class="svg"><svg width="10" height="10"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprite.svg#close"></use></svg></div>
      </div>
      <div class="popup__title">Спасибо за заявку!</div>
      <div class="popup__description">Наш менеджер свяжется с Вами в течение 15 минут</div>
    </div>
  </div>
  {% include 'js.html' %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe0e7RzQTppvzTEUNRuNq5PqhpSOpF7yA"></script>
  <script>
    $(document).ready(function() {
      initMap(
        document.getElementById('map'), [50.378594, 30.534447], [
          [, 50.378594, 30.534447]
        ]
      );
    });
  </script>
</body>

</html>
