body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1;
  color: #333;
  font-size: 14px;
  position: relative;
  &.active {
    width: 100%;
    height: 100%;
    @include response(767px) {
      position: fixed;
    }
    overflow: hidden;
  }
}
* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}
button {
  font-family: 'Ubuntu', sans-serif;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}
input,
textarea {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1;
  color: #333;
  font-size: 14px;
  -webkit-border-radius:0px;
}
.svg {
  display: flex;
}
svg {
  transform: translateZ(0);
  transition: 0.3s ease-in-out;
}
