<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>
  <link rel="icon" type="image/png" sizes="192x192" href="images/192x192.png">
  <link rel="icon" type="image/png" sizes="180x180" href="images/64x64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/48x48.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/32x32.png">
  <link href="css/index.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:800i%7CRoboto:700,900i%7CUbuntu:300,400,500,700" rel="stylesheet">
</head>
