.error-page {
  padding: 80px;
  min-height: calc(100vh - 58px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include response(1366px) {
    padding: 80px 80px 30px;
  }
  @include response(767px) {
    min-height: calc(100vh - 67px);

  }
  &__box {
    padding: 0 0 0 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include response(1200px) {
      padding: 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__img {
    flex: 0 0 auto;
    margin: 0 0 0 20px;
    @include response(1200px) {
      margin: 20px 0 0;
    }
    @include response(767px) {
      display: none;
    }
  }
  &__text {
    flex: 1 1 auto;
    @include response(1200px) {
      text-align: center;
    }
  }
  &__caption {
    font-family: 'Roboto', sans-serif;
    font-size: 140px;
    font-weight: 900;
    color: $orange;
    margin: 0 0 15px;
  }
  &__descriptions {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 35px;
    max-width: 395px;
    width: 100%;
    @include response(1200px) {
      margin: 0 auto 15px;
    }
  }
}
