.about {
  padding: 30px 0 80px;
  position: relative;
  @include response(1200px) {
    padding: 15px 0;
  }
  // &::before {
  //   content: '';
  //   position: absolute;
  //   background: #f0f0f0;
  //   bottom: 30px;
  //   top: -50px;
  //   width: 300px;
  //   left: -85px;
  //   transform: skewX(-15deg);
  //   z-index: -1;
  //   @include response(1200px) {
  //     display: none;
  //   }
  // }
  &--cooperation {
    &::before {
      display: none;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 33px 0 0;
    .about--cooperation & {
      padding: 0 0 0 33px;
      @include response(1200px) {
        padding: 0;
      }
    }
    @include response(767px) {
      padding: 0;
    }
  }
  &__img {
    flex: 0 0 auto;
    margin: 0 35px 0 0;
    @include response(1200px) {
      margin: 0 15px 0 0;
      flex: 0 0 40%;
      @include response(767px) {
        display: none;
      }
    }
    .about--cooperation & {
      order: 2;
      margin: 0 0 0 35px;
    }
  }
  &__info {
    flex: 1 1 auto;
    .about--cooperation & {
      order: 1;
    }
    .title {
      margin-bottom: 50px;
      @include response(1200px) {
        margin-bottom: 15px;
      }
    }
  }
  &__trigger {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    @include response(1200px) {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__trigger-img {
    flex: 0 0 80px;
    max-width: 80px;
    height: 77px;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    background: #fff;
    margin: 0 30px 0 0;
    justify-content: center;
    transform: skewX(-15deg);
    .contacts__box & {
      @include response(767px) {
        flex: 0 0 60px;
        max-width: 60px;
        height: 60px;
      }
    }
    img {
      transform: skewX(15deg);
    }
  }
  &__trigger-info {
    flex: 1 1 auto;
  }
  &__trigger-title {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 5px;
    address {
      font-style: normal;
    }
    a {
      display: block;
      text-decoration: none;
      transition: .3s ease;
      color: #333;
      @include desktop-hover() {
        color: $orange;
      }
      & + a {
        margin-top: 5px;
      }
    }
  }
  &__trigger-text {
    line-height: 19px;
    font-size: 13px;
    p {
      margin: 0;
    }
  }
}
