.viewport {
  opacity: 0;
  will-change: opacity, transform;
  transition: .3s ease-in-out;
  &.visible {
    animation: load .3s ease-in-out;
    animation-fill-mode: forwards;
  }
}
@keyframes left {
  0% {
    transform: translate3d(-200px,0,0) rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) rotate(-90deg);
  }
}
@keyframes right {
  0% {
    transform: translate3d(200px,0,0) rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) rotate(-90deg);
  }
}
@keyframes load {
  0% {
    transform: translate3d(0,200px,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
@keyframes caption {
  0% {
    transform: translate3d(600px,0,0);
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    transform: translate3d(-30px, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}
