.contacts {
  padding: 15px 0;
  .title {
    margin: 0 0 45px;
    @include response(1200px) {
      margin: 0 0 20px;
    }
  }
  &__box {
    display: flex;
    padding: 0 0 0 33px;
    @include response(1365px) {
      padding: 0;
    }
    @include response(1200px) {
      align-items: center;
    }
    @include response(767px) {
      flex-wrap: wrap;
    }
  }
  &__left {
    flex: 1 1 auto;
    @include response(767px) {
      flex: 0 0 100%;
      margin: 0 0 10px;
    }
  }
}
.map {
  flex: 0 0 703px;
  box-shadow: 0 20px 60px 0 rgba(51, 51, 51, .08);
  height: 495px;
  @include response(1200px) {
    flex: 0 0 60%;
    height: 300px;
  }
  @include response(767px) {
    flex: 0 0 100%;
  }
}
.btn.feedback {
  @include response(767px) {
    max-width: 200px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 14px 15px;
  }
}
