.cooperation {
  text-align: center;
  padding: 30px 0 100px;
  @include response(1366px) {
    padding: 15px 0 30px;
  }
  .title {
    margin: 0 0 65px;
    text-align: left;
    @include response(1366px) {
      margin: 0 0 30px;
    }
  }
  &__list-box {
    @include response(767px) {
      margin: 0 0 10px;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 35px;
    @include response(1366px) {
      margin: 0 0 20px;
    }
    @include response(767px) {
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin: 0;
    }
  }
  &__item {
    flex: 0 0 25%;
    padding: 55px 15px;
    position: relative;
    margin: 0 0 15px;
    @include response(1366px) {
      padding: 55px 15px;
    }
    @include response(767px) {
      flex: 0 0 50vw;
      margin: 0;
    }
    &::before {
      content: '';
      position: absolute;
      width: 75px;
      left: 40%;
      height: 180px;
      top: 50%;
      background: #f0f0f0;
      transform: skewX(-15deg) translate(-50%, -50%);
      @include response(1200px) {
        height: 150px;
      }
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 32px;
      height: 120px;
      top: 50%;
      border: 1px solid #e5e5e5;
      background: #fff;
      transform: skewX(-15deg) translate(0, -50%);
      @include response(1200px) {
        height: 90px;
      }
    }
  }
  &__item-inner {
    position: relative;
    z-index: 1;
  }
  &__value {
    color: #fe9328;
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 18px;
    @include response(1200px) {
      font-size: 24px;
      line-height: 26px;
      margin: 0 0 10px;
    }
  }
  &__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
  }
}
