.footer {
  background: #f0f0f0;
  padding: 10px 0;
  // max-width: 100%;
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
  @include response(767px) {
    padding: 5px 0 15px;
    position: relative;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include response(767px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
.dev {
  position: relative;
  text-decoration: none;
  color: #c7c7c7;
  padding: 0 80px 0 0;
  @include response(767px) {
    margin: 10px 0 15px;
  }
  @include desktop-hover() {
    .dev__icon {
      transform: translate(0 ,-100%);
    }
    .dev__hover {
      transform: translate(0 ,-100%);
    }
  }
  &__text {
    font-size: 11px;
  }
  &__icons {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
  }
  &__icon {
    transition: .3s ease-in-out;
  }
  &__hover {
    transition: .3s ease-in-out;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
  }
}
.social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include response(767px) {
    flex: 0 0 100%;
  }
  &__item {
    margin-right: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      background: #b2b2b2;
      transform: skewX(-15deg);
      right: -15px;
    }
    &:last-child {
      margin-right: 0;
      &::before {
        display: none;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: #b2b2b2;
    font-size: 11px;
    display: block;
    transition: .3s ease;
    @include desktop-hover() {
      color: $orange;
    }
  }
}
.top {
  background: #fff;
  height: 38px;
  width: 63px;
  transform: skewX(-15deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s ease;
  margin: 0 5px 0 108px;
  @include response(767px) {
    position: absolute;
    right: 10px;
    margin: 0;
    top: 10px;
    height: 30px;
    width: 40px;
  }
  @include desktop-hover() {
    background: $orange;
    svg {
      fill: #fff;
    }
  }
  .svg {
    transform: skewX(15deg) rotate(180deg);
  }
  svg {
    fill: $orange;
  }
}
