.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  transition: .3s ease-in-out;
  border-bottom: 1px solid transparent;
  @include response(1200px) {
    padding: 10px 10px 10px 50px;
  }
  @include response(370px) {
    padding: 10px 10px 10px 40px;
  }
  &.active {
    background: #fff;
    border-color: #e5e5e5;
  }
  &__logo {
    flex: 0 0 auto;
    margin: 0 50px 0 0;
    @include response(1365px) {
      margin: 0 20px 0 0;
    }
  }
  &__logo-link {
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: $orange;
    font-size: 26px;
    font-weight: 800;
    @include response(370px) {
      font-size: 18px;
    }
  }
  &__tel-box {
    flex: 0 0 auto;
    margin: 0 40px 0 0;
    @include response(1365px) {
      margin: 0 15px 0 0;
    }
    @include response(1200px) {
      margin: 0;
      padding: 10px 0 0 10px;
    }
  }
  &__tel-text {
    color: #b2b2b2;
    font-size: 12px;
    margin: 0 0 5px;
  }
  &__tel {
    font-weight: 700;
    color: #333;
    text-decoration: none;
    transition: .3s ease;
    @include desktop-hover() {
      color: $orange;
    }
  }
  &__mail {
    position: fixed;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: #ccc;
    left: -20px;
    top: 50%;
    transition: .3s ease;
    @include response-min(1200px) {
      opacity: 0;
      &.load {
        animation: left .3s ease-in-out;
        animation-fill-mode: forwards;
      }
    }
    @include response(1365px) {
      left: -45px;
    }
    @include response(1200px) {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      margin: 10px 10px;
      display: block;
      color: #333;
      font-weight: 700;
    }
    @include desktop-hover() {
      color: $orange;
    }
  }
  &__mobile {
    display: none;
    @include response(1200px) {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transform: translate(-100%,0);
      &.active {
        opacity: 1;
        transform: translate(0,0);
      }
    }
  }
  &__mobile-overlay {
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__mobile-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 280px;
    background: #fff;
    z-index: 1;
    padding: 53px 0 0;
    overflow-y: auto;
    transition: .3s ease-in-out;
    transform: translate(-100%,0);
    .header__mobile.active & {
      transform: translate(0,0);
    }
  }
}
.language {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  right: -30px;
  transform: rotate(90deg);
  top: 50%;
  @include response-min(1200px) {
    opacity: 0;
    &.load {
      animation: right .3s ease-in-out;
      animation-fill-mode: forwards;
    }
  }
  @include response(1365px) {
    right: -50px;
  }
  @include response(1200px) {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    padding: 15px 10px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    justify-content: flex-start;
  }
  &__item {
    &.active {
      .language__link {
        color: #333;
      }
    }
    & + .language__item {
      margin: 0 0 0 30px;
    }
  }
  &__link {
    text-transform: uppercase;
    transition: .3s ease;
    color: #b2b2b2;
    font-weight: 700;
    text-decoration: none;
    display: block;
    @include desktop-hover() {
      color: #333;
    }
  }
}
.callback {
  display: block;
  margin: 0 7px 0 0;
  transform: skewX(-15deg);
  @include response(767px) {
    margin: 0;
  }
}
.nav {
  flex: 1 1 auto;
  margin: 0 46px 0 0;
  @include response(1200px) {
    margin: 0;
  }
  &__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    @include response(1200px) {
      flex-wrap: wrap;
      border-top: 1px solid #e5e5e5;
    }
    li {
      @include response(1200px) {
        flex: 0 0 100%;
        border-bottom: 1px solid #e5e5e5;
      }
      & + li {
        margin: 0 0 0 30px;
        @include response(1439px) {
          margin: 0 0 0 25px;
        }
        @include response(1365px) {
          margin: 0 0 0 15px;
        }
        @include response(1200px) {
          margin: 0;
        }
      }
    }
    a {
      display: block;
      text-decoration: none;
      color: #333;
      font-size: 12px;
      padding: 5px 0;
      text-transform: uppercase;
      font-weight: 700;
      transition: .3s ease;
      @include response(1365px) {
        font-size: 11px;
      }
      @include response(1200px) {
        padding: 12px 10px;
      }
      @include desktop-hover() {
        color: $orange;
      }
    }
  }
}
