.wrapper {
  max-width: 100%;
  overflow: hidden;
  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 59px;
    width: 0;
    height: 0;
    border-bottom: 2050px solid #f0f0f0;
    border-left: 50vw solid transparent;
    @include response(1200px) {
      display: none;
    }
  }
}
.container {
  max-width: 1226px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.container-inner {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 0 70px;
  @include response(767px) {
    padding: 10px 0 0;
    font-size: 24px;
  }
  .vacancy & {
    margin-bottom: 55px;
    @include response(1200px) {
      margin-bottom: 20px;
    }
  }
  &::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 24px;
    background: $orange;
    transform: skewX(-20deg);
    left: 5px;
    top: 5px;
    @include response(767px) {
      display: none;
    }
  }
}
.text-content {
  line-height: 19px;
  font-size: 13px;
  p {
    margin: 0 0 20px;
  }
}
.btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  color: $orange;
  text-align: center;
  border: 2px solid $orange;
  padding: 17px 15px;
  text-transform: uppercase;
  min-width: 186px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: skewX(-15deg);
  @include response(1365px) {
    min-width: 1px;
    padding: 12px 15px;
  }
  @include response(1200px) {
    padding: 8px 15px;
  }
  @include response(370px) {
    &.callback {
      padding: 8px 10px;
    }
  }
  @include desktop-hover() {
    color: #fff;
    background: $orange;
  }
  span {
    position: relative;
    display: block;
    transform: skewX(15deg);
  }
  &--white {
    border-color: #fff;
    color: #fff;
    @include desktop-hover() {
      background: #fff;
      color: $orange;
    }
  }
  &--bg {
    background: $orange;
    color: #fff;
    @include desktop-hover() {
      background: #fff;
      color: $orange;
      border-color: #fff;
    }
  }
  .error-page__btn & {
    @include desktop-hover() {
      border-color: $orange;
    }
  }
}
.wpcf7-mail-sent-ok,
.ajax-loader,
.wpcf7-validation-errors {
  display: none !important;
}
