.menu-icon {
  display: none;
  @include response(1200px) {
    display: block;
    position: fixed;
    left: 10px;
    top: 16px;
    width: 22px;
    height: 22px;
    z-index: 1001;
    transition: .3s;
    &.active {
      padding: 5px;
    }
  }
}
.menu-icon .line {
  background: $orange;
  display: block;
  width: 20px;
  height: 2px;
  border: 1px solid #fff;
  box-sizing: content-box;
  transition: all 0.2s;
  position: absolute;
  border-radius: 5px;
  left: 0;
}
.menu-icon #bar-1.line {
  top: 3px;
}
.menu-icon #bar-2.line {
  top: 13px;
}
.menu-icon #bar-3.line {
  top: 8px;
}
.menu-icon.active #bar-1.line {
  transform: rotate(45deg);
  box-shadow: none;
  top: 10px;
}
.menu-icon.active #bar-2.line {
  display: none;
  transition: all 0s;
  box-shadow: none;
}
.menu-icon.active #bar-3.line {
  transform: rotate(-45deg);
  box-shadow: none;
  top: 10px;
}
