.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(100%, 0);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  &.active {
    opacity: 1;
    transform: translate(0, 0);
  }
  &__box {
    position: relative;
    background: #fff;
    padding: 20px 50px 35px;
    max-width: 432px;
    flex: 1 1 432px;
    width: 100%;
    text-align: center;
    transition: .3s ease-in-out;
    opacity: 0;
    transform: translate(0, 30px);
    @include response(767px) {
      padding: 40px 10px 35px;
      max-width: 100%;
      height: 100%;
      flex: 1 1 100%;
      overflow-y: auto;
    }
    .popup-thankYou & {
      max-width: 532px;
      padding: 55px 50px;
      @include response(767px) {
        padding: 40px 10px 35px;
        max-width: 100%;
        height: 100%;
        flex: 1 1 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .popup.active & {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  &__close {
    position: absolute;
    height: 30px;
    width: 40px;
    background: $orange;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    transform: skewX(-15deg);
    cursor: pointer;
    top: -15px;
    right: -20px;
    @include response(767px) {
      transform: none;
      top: 0;
      right: 0;
    }
    @include desktop-hover() {
      background: #f0f0f0;
      svg {
        fill: $orange;
      }
    }
    .svg {
      transform: skewX(15deg);
      @include response(767px) {
        transform: none;
      }
    }
    svg {
      fill: #fff;
    }
  }
  &__title {
    margin: 0 0 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
  }
  &__description {
    color: #b2b2b2;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__form {
    text-align: left;
  }
  &__form-btn {
    text-align: center;
    .btn {
      background: #fff;
      @include desktop-hover() {
        background: $orange;
      }
    }
  }
  &__form-row {
    position: relative;
    margin: 0 0 20px;
    textarea {
      height: 80px;
      resize: none;
      border: 0;
      border-bottom: 1px solid #ccc;
      transition: .3s ease;
      width: 100%;
      outline: none;
      padding: 10px;
      background: #f5f5f5;
      &:focus {
        border-color: $orange;
      }
    }
    input {
      border: 0;
      border-bottom: 1px solid #ccc;
      transition: .3s ease;
      height: 40px;
      width: 100%;
      outline: none;
      line-height: 39px;
      padding: 0 10px;
      background: #f5f5f5;
      &:focus {
        border-color: $orange;
      }
    }
  }
  &__form-label {
    margin-bottom: 10px;
    color: #c2c2c2;
    font-size: 12px;
  }
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.7);
}
.error {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 2px 0 0 4px;
  color: #f00b31;
  font-size: 10px;
}
