.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1004;
  background: #fff;
  display: none;
  @include response(1200px) {
    display: block;
  }
  &.active {
    display: none;
  }
}
.preloader__load  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}
.preloader__load  hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.preloader__load :first-child {
  background: $orange;
  animation-delay: -1.5s;
}
.preloader__load :nth-child(2) {
  background: #333;
  animation-delay: -1s;
}
.preloader__load :nth-child(3) {
  background: $orange;
  animation-delay: -0.5s;
}
.preloader__load :last-child {
  background: #333;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
