.reviews {
  padding: 30px 40px;
  position: relative;
  // &::before {
  //   content: '';
  //   z-index: -1;
  //   background: #f0f0f0;
  //   position: absolute;
  //   height: 1300px;
  //   bottom: 0;
  //   width: 100000px;
  //   left: 73vw;
  //   transform: skewX(-15deg);
  //   @include response(1200px) {
  //     display: none;
  //   }
  // }
  @include response(1200px) {
    padding: 15px 0;
  }
  .title {
    margin: 0 0 74px;
    @include response(1200px) {
      margin: 0 0 20px;
    }
  }
  &__slider {
    padding: 0 0 66px;
    margin: 0 -20px;
    position: relative;
    @include response(1200px) {
      padding: 0 0 40px;
      margin: 0 -10px;
    }
    .slick-slide {
      margin: 0 20px;
      @include response(1200px) {
        margin: 0 10px;
      }
    }
    .slick-arrow {
      transition: .3s ease;
      background: #fff;
      border: 1px solid $orange;
      height: 34px;
      width: 50px;
      position: absolute;
      z-index: 1;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: skewX(-15deg);
      bottom: 0;
      &.slick-prev {
        left: calc(50% - 55px);
      }
      &.slick-next {
        right: calc(50% - 55px);
        svg {
          transform: rotate(180deg) skewX(15deg);
        }
      }
      @include desktop-hover() {
        background: $orange;
        svg {
          fill: #fff;
        }
      }
      svg {
        fill: $orange;
        transform: skewX(15deg);
        transition: .3s ease;
      }
    }
  }
  &__item {
    border: 1px solid #e5e5e5;
    padding: 50px 40px 35px;
    background: #fff;
    @include response(1200px) {
      padding: 10px 20px 20px;
    }
  }
  &__item-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 8px;
    position: relative;
    &::before {
      content: '“';
      position: absolute;
      font-size: 70px;
      color: #fe9328;
      left: -24px;
      top: -35px;
      @include response(1200px) {
        display: none;
      }
    }
  }
  &__item-position {
    color: #b2b2b2;
    margin: 0 0 26px;
    font-size: 12px;
    @include response(1200px) {
      margin: 0 0 10px;
    }
  }
  &__text {
    height: 170px;
  }
}
