.top-section {
  position: relative;
  padding: 80px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  @include response(1366px) {
    padding: 80px 80px 50px;
  }
  @include response(1200px) {
    padding: 53px 0 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 524px solid #f0f0f0;
    border-right: 176px solid transparent;
    z-index: -1;
    @include response(767px) {
      display: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -54px;
    bottom: 0;
    width: calc(55vw - 160px);
    background: #f0f0f0;
    transform: skewX(-15deg);
    z-index: -1;
    @include response(1200px) {
      display: none;
    }
  }
  &__box {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__holder {
    padding: 30px;
    @include response(767px) {
      padding: 10px;
    }
  }
  &__caption {
    text-transform: uppercase;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    margin: 0 0 50px;
    line-height: 50px;
    max-width: 510px;
    opacity: 0;
    &.active {
      animation: caption .3s ease-in-out;
      animation-fill-mode: forwards;
    }
    @include response(767px) {
      margin: 0 0 20px;
      max-width: 100%;
      font-size: 24px;
      line-height: 26px;
    }
  }
  &__btns {
    display: flex;
    opacity: 0;
    &.active {
      animation: caption .5s ease-in-out;
      animation-fill-mode: forwards;
    }
    .btn--bg {
      margin: 0 26px 0 7px;
      @include response(767px) {
        margin: 0 15px 0 7px;
      }
    }
  }
}
.down {
  background: #fff;
  box-shadow: 0 0 40px 0 rgba(51, 51, 51, .12);
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: skewX(-15deg);
  margin: 0 0 0 -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  animation: down 1.5s infinite ease-in-out;
  @include response(1366px) {
    bottom: 25px;
  }
  @include response(767px) {
    bottom: 15px;
    width: 30px;
    height: 30px;
    margin: 0 0 0 -15px;
  }
  @include desktop-hover() {
    background: $orange;
    svg {
      fill: #fff;
    }
  }
  .svg {
    transform: skewX(15deg);
  }
  svg {
    fill: $orange;
  }
}
@keyframes down {
  0% {
    transform: translate(0,-5px) skewX(-15deg);
  }
  50% {
    transform: translate(0,5px) skewX(-15deg);
  }
  100% {
    transform: translate(0,-5px) skewX(-15deg);
  }
}
