.vacancy {
  &__box {
    padding: 35px 33px 60px;
    @include response(1439px) {
      padding: 35px 33px 40px;
    }
    @include response(1200px) {
      padding: 15px 0;
    }
    @include response(767px) {
      padding: 0;
    }
  }
  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @include response(1200px) {
      margin: 0 -10px;
    }
    @include response(767px) {
      margin: 0;
    }
  }
  &__item {
    flex: 0 0 480px;
    max-width: 480px;
    width: 100%;
    margin: 0 0 60px 60px;
    transition: .3s ease-in-out;
    border: 1px solid #e5e5e5;
    padding: 42px;
    position: relative;
    @include response(1439px) {
      margin: 0 0 30px 60px;
    }
    @include response(1200px) {
      margin: 0 10px 10px;
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
      padding: 20px 20px 35px;
    }
    @include response(767px) {
      margin: 0 0 20px;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 15px 15px 35px;
    }
    @include desktop-hover() {
      box-shadow: 0 20px 60px 0 rgba(51, 51, 51, .08);
      border-color: transparent;
      .vacancy__item-title {
        &::before {
          background: $orange;
        }
        &::after {
          transform: skewX(-15deg) translate(0,0);
          opacity: 1;
        }
      }
      .vacancy__btn {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, 0) skewX(-15deg);
      }
    }
  }
  &__item-title {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    margin: 0 0 50px;
    text-transform: uppercase;
    @include response(767px) {
      margin: 0 0 20px;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -24px;
      width: 40px;
      height: 3px;
      background: #e6e6e6;
      transform: skewX(-15deg);
      transition: .3s ease-in-out;
      @include response(767px) {
        bottom: -10px;
      }
    }
    &::after {
      content: '';
      position: absolute;
      width: 24px;
      height: 15px;
      background: $orange;
      transform: skewX(-15deg) translate(-15px,0);
      top: 2px;
      left: -55px;
      transition: .3s ease-in-out;
      opacity: 0;
    }
  }
  &__item-text {
    height: 190px;
  }
  &__btn {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 15px) skewX(-15deg);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    @include response(1200px) {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, 0) skewX(-15deg);
      bottom: -10px;
    }
  }
}
