.popup {
  .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    display: none !important;
  }
}
.wpcf7-form-control-wrap {
  display: block;
}
span.wpcf7-not-valid-tip {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 2px 0 0 4px;
  color: #f00b31;
  font-size: 10px;
}
